* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none; 
}

.container-main {
  max-width: 1440px;
  height: 1024px;
  padding: 112px 100px;
  margin: 0 auto;
  background: #333;
  font-weight: 700;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}

/* B */
.container-main .col {
  width: calc((100% - 150px) / 4);
  height: 100%;
  position: relative;
  float: left;
  margin-right: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: space-between;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.container-main .col:hover {
  transform: scale(1.1);
}
.container-main .col:last-child {
  margin-right: 0;
}

/* B */
.container-main .col p {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  /*padding-top: 1rem;
  padding-bottom: 1rem;*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  text-shadow: 0 0 5px black;
  font-size: 3.1vw;
}


/* 공연장 소개 */
.container-main .col:first-child {
  background-image: url(./images/the_concert_hall.png);
}
/* 층별안내 */
.container-main #section2 {
  background-image: url(./images/by_floor.png);
}
/* 좌석안내 */
.container-main #section3 {
  background-image: url(./images/the_seat.png);
}
/* 오시는 길 */
.container-main #section4 {
  background-image: url(./images/way_here.png);
  
}